{%- if page.paginator -%}
  {%- assign paginator = page.paginator -%}
{%- elsif paginator == nil -%}
  {%- assign paginator = site -%}
{%- endif -%}

{%- assign name = 'excerpt.image_style' -%}
{%- include functions.html func='get_value' default='z' -%}
{%- assign image_style = return | append: '-image-style' -%}

{%- if paginator.size > 0 -%}
<div class="pagination">
  <!-- Post list links -->
  <ul class="post-list {{ image_style }}">
    <!-- Normal list item -->
    {%- assign post_item_class = "" -%}
    {%- for post in paginator %}
      {%- include views/pagination-item.html -%}
    {%- endfor -%}
  </ul>

  <!-- Pagination links -->
  {%- if paginator.size < site.posts.size -%}
    {%- include views/paginator.html -%}
  {%- endif -%}
</div>
{%- endif -%}
